<table class="table">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Entregables</th>
        <th scope="col">Fecha de inicio</th>
        <th scope="col">Fecha de Finalización</th>
        <th scope="col">Horario</th>
    </tr>
    </thead>
    <tbody>
        <!-- Curso bucle de informacion INICIO
        
    <tr>
        <th scope="row">{{Curso.nombre}}</th>
        <td>Curso.entregable</td>
        <td>Curso.fecha-inicio</td>
        <td>Curso.fecha-fin</td>
        <td>Curso.horario</td>
    </tr>
    -->
    <!-- Curso bucle de informacion FIN-->
    </tbody>
</table>