<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'inicio' %}">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'profesores' %}">Profesores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'cursos' %}">Cursos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'estudiantes' %}">Estudiantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'entregables' %}">Entregables</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#signuo">Inicio</a>
      </li>
  </ul>